
**/bin/
**/obj/
bin/
obj/
*.dll
*.exe
*.pdb
*.nupkg
**/packages/*
!**/packages/build/
artifacts/
publish/
*.publishsettings
*.pubxml
node_modules/
*.mdf
*.ldf
*.log
*.tmp
*.tmp_proj
*.dbmdl
*.dbproj.schemaview
*.pfx
*.sln.docstates
*.rsuser
*.suo
*.user
*.userosscache
*.ncb
*.scc
.vs/
.idea/
*.cache
